<div data-controller="mobile"  class="bg-gray-200 h-16 text-gray-800 flex justify-around items-center shadow-xl">
  <div class="flex justify-center items-center space-x-7">
    <%= link_to root_path, class: "text-2xl" do %>
      <i class="fa-solid fa-house text-blue-700"></i> WEC Schools
    <% end %>
    <div class="hidden md:block hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Schools</div>
    <div class="hidden md:block hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Classes</div>
    <div class="hidden md:block hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Events</div>
  </div>
  <div class="hidden md:block flex justify-center items-center space-x-7">
    <%= link_to "https://wipahs.co.tz/", class: "hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15", target: "_blank" do %>
      <i class="fa-solid fa-earth-africa"></i> WIPAHS
    <% end %>
    <%= link_to new_user_path, class: "px-2 py-1 text-gray-50 bg-blue-600 rounded hover:bg-blue-800 transition delay-15" do %>
      <i class="fa-solid fa-user-plus"></i> New User
    <% end %>
    <%= link_to login_path, class: "px-2 py-1 text-gray-50 bg-green-600 rounded hover:bg-green-800 transition delay-15" do %>
      <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
    <% end %>
  </div>

  <div data-action="click->mobile#toggle" class="block md:hidden text-gray-700">
    <button><i class="fa-solid fa-bars h-7 w-7"></i></button>
  </div>
</div>

<div id="mobile-menu" class="hidden bg-gray-200 py-4 flex flex-col justify-center items-center space-y-3">
  <div class="hover:border-b-2 hover:rounded border-gray-700 transition delay-15">Schools</div>
  <div class="hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Classes</div>
  <div class="hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15">Events</div>
  <%= link_to "https://wipahs.co.tz/", class: "hover:border-b-2 hover:rounded hover:border-gray-700 transition delay-15", target: "_blank" do %>
    <i class="fa-solid fa-earth-africa"></i> WIPAHS
  <% end %>
  <%= link_to new_user_path, class: "px-2 py-1 text-gray-50 bg-blue-600 rounded hover:bg-blue-800 transition delay-15" do %>
    <i class="fa-solid fa-user-plus"></i> New User
  <% end %>
  <%= link_to login_path, class: "px-2 py-1 text-gray-50 bg-green-600 rounded hover:bg-green-800 transition delay-15" do %>
    <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
  <% end %>
</div>
